<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="footer">

    <footer class="footer mt-5 bg-dark text-light">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-6 text-center">&copy; 2018 Team REST &middot; <a class="text-white" th:href="@{/privacy}">Wir
                    schützen arme kleine Daten</a> &middot; <a class="text-white" th:href="@{/impressum}">Impressum</a></div>
                <div class="col-md-6 text-center"><a href="#" class="text-white">zurück nach oben</a></div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>