@font-face {
    font-family: 'Halt';
    src: url('../fonts/Halt.ttf') format('truetype');
}

.big-image h1, .marketing h2 {
    font-family: Halt, sans-serif;
}

.navbar-brand {
    font-family: Halt, sans-serif;
    font-size: 2em;
}

.big-image {
    background: url("../images/landingpage-background.jpg") no-repeat center;
    padding: 10vh 5vw;
    text-align: center;
    color: white;
    margin-bottom: 2em;
}

.big-image h1 {
    font-size: 6em;
    text-shadow: 0.1em 0.1em black;
}

body {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 5em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}