.groupphase, .stripes-odd:nth-child(odd) {
    background-color: #f5f5f5;
}

.inline-flex {
    display: inline-flex;
}

.minw-25 {
    min-width: 25%;
}

.overflow-auto {
    overflow: auto;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}