<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<head>
    <title>Passwort ändern - turnie.re</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main role="main">

    <div class="container mt-4">
        <h2>
            Passwort ändern
        </h2>

        <div class="card">
            <form class="card-body" action="#" th:action="@{/passwortaendern}" th:object="${changePasswordForm}" method="post">
                <div class="form-group">
                    <label for="f-pw1">Neues Passwort</label>
                    <input class="form-control" id="f-pw1" type="password" th:field="*{password}">
                    <small class="text-muted">
                        Dein Passwort muss mindestens 12 Zeichen lang sein. Alle Zeichen sind erlaubt.
                    </small>
                    <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Passwort fehlerhaft</div>
                </div>
                <div class="form-group">
                    <label for="f-pw2">Neues Passwort wiederholen</label>
                    <input class="form-control" id="f-pw2" type="password" th:field="*{repassword}">
                    <div class="text-danger" th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}">Wiederholtes Passwort fehlerhaft
                    </div>
                </div>
                <button class="btn btn-success w-100" type="submit">Speichern</button>
            </form>
        </div>

        <p>
            <a class="mt-3 btn btn-outline-dark" th:href="@{/profil}">Profil bearbeiten</a>
        </p>
    </div>

</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</html>
