<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Turnie.re - Passwort ändern</title>
</head>
<body>
<h1>Profil</h1>
<form action="#" th:action="@{/passwortaendern}" th:object="${changePasswordForm}" method="POST">
    <table>
        <tr>
            <td>Passwort:</td>
            <td><input type="password" th:field="*{password}"/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Passwort fehlerhaft</td>
        </tr>
        <tr>
            <td>Passwort wiederholen:</td>
            <td><input type="password" th:field="*{repassword}"/></td>
            <td th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}">Wiederholtes Passwort fehlerhaft</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Abschicken</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
