<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<head>
    <title>Turniere erstellen -turnie.re</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main role="main">

    <div class="big-image">
        <h1 class="display-1">Erstelle dein Turnier</h1>
    </div>

    <div class="container card">
        <div class="card-body">
            <form action="#" th:action="@{/erstellen}" th:object="${tournamentForm}" method="POST">
                <div class="form-group">
                    <label for="f-name">Name des Turniers</label>
                    <input class="form-control" id="f-name" type="text" th:field="*{name}" required>
                    <div class="text-danger font-italic" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                        Name fehlerhaft
                    </div>
                </div>
                <div class="form-group">
                    <label for="f-desc">Beschreibung</label>
                    <input class="form-control" id="f-desc" type="text" th:field="*{description}">
                    <div class="text-danger font-italic" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                        Beschreibung fehlerhaft
                    </div>
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" id="f-public" type="checkbox" th:field="*{isPublic}">
                    <label for="f-public" class="form-check-label">Das Turnier öffentlich anzeigen (schreibgeschützt)</label>
                </div>
                <div class="form-group">
                    <label for="f-teams">Teams</label>
                    <div class="row">
                        <div class="col">
                            <input class="form-control" id="f-teams" type="text" th:field="*{teamNames}"
                               placeholder="Liste, mit Komma getrennt (keine Leerzeichen)" required>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-success" id="f-addTeam">Team hinzufügen</button>
                        </div>
                    </div>
                </div>
                <div class="frorm-group" id="f-teamnames"></div>
                <div class="form-group">
                    <label for="f-groupSize">Gruppen Größe</label>
                    <input class="form-control" type="text" th:name="groupSize" th:id="f-groupSize" th:value="0"
                           required>
                    <div class="text-danger font-italic" th:if="${#fields.hasErrors('groupSize')}" th:errors="*{groupSize}">Fehler</div>
                </div>
                <button type="submit" class="btn btn-success btn-lg w-100" id="f-submitBtn">Turnier erstellen</button>
            </form>
        </div>
    </div>

</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/create_tournament.js"></script>
</html>
