<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<head>
    <title>Turnier bearbeiten -turnie.re</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main role="main">

    <div class="big-image">
        <h1 class="display-1 overflow-auto" th:text="${tournament.name}">Dein Turnier</h1>
    </div>

    <div class="container card">
        <div class="card-body">
            <form action="#" th:action="@{'/t/' + ${tournament.code} + '/edit'}" th:object="${changeTournamentForm}"
                  method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" th:name="name" id="name" th:value="${tournament.name}"
                           th:placeholder="${tournament.name}"
                           required>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name fehlerhaft</div>
                </div>
                <div class="form-group">
                    <label for="description">Beschreibung</label>
                    <input class="form-control" type="text" th:name="description" id="description"
                           th:placeholder="${tournament.description}"
                           th:value="${tournament.description}">
                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Beschreibung
                        fehlerhaft
                    </div>
                </div>
                <div class="form-group custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" th:name="isPublic" id="isPublic"
                           th:checked="${tournament.isPublic}"/>
                    <label for="isPublic" class="custom-control-label">Das Turnier öffentlich anzeigen</label>
                    <div th:if="${#fields.hasErrors('isPublic')}" th:errors="*{isPublic}">Öffentlich fehlerhaft</div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <button type="submit" class="btn btn-success px-5">Ändern</button>
                        <a class="btn btn-outline-secondary ml-2" href="./">zurück zum Turnier</a>
                    </div>
                </div>
            </form>

            <!--TODO Felix please make it look nicer and or make more sense ui wise-->

            <div th:each="team: ${tournament.teams}" class="stripes-odd">
                <div class="card mt-4 border-warning shadow-sm"
                     data-th-attr="aria-controls=${team.id}">
                    <span th:text="${team.id}" style="display: none"></span>
                    <div class="card-body">
                        <div class="alert alert-warning h6">
                            <span th:text="${team.name}"></span>
                            <span class="badge badge-light float-right" th:if="${team.name != null}"
                                  th:text="${team.name}"></span>
                        </div>
                        <button type="button" class="btn btn-outline-dark mt-3 changeTeamnameButton">
                            Teamname ändern
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Teamname Modal-->
    <div class="modal fade" id="teamModal" tabindex="-1" role="dialog"
         aria-labelledby="qrModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title overflow-auto" id="pointsModalLabel">
                        Teamname ändern
                    </h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label for="teamnameInput">
                                Neuer Name für <strong id="teamName"></strong>
                            </label>
                            <input class="form-control" id="teamNameInput" type="String"
                                   name="teamname">
                        </div>
                        <button class="btn btn-success w-100" id="submitTeamnameButton">
                            Team Name aktualisieren
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/edit_tournament.js"></script>
</html>
