<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<head>
    <title>Nicht autorisiert -turnie.re</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main role="main">

    <div class="container mb-2">
        <div class="row mb-5">
            <div class="col-lg text-center">
                <img src="/images/logo-questionmark.png" class="w-75 img-fluid">
            </div>
            <div class="col-lg" style="display:flex;justify-content:center;align-items:center;">
                <h1 class="custom-font py-5" style="font-size:10em;">403</h1>
            </div>
        </div>
        <h2>Du bist nicht autorisiert.</h2>
        <p>
            Du bist nicht autorisiert diese Seite aufzurufen. <br>
            Bitte stelle sicher, dass du angemeldet bist und auf dieses Turnier oder dieses Match zugreifen darfst.
        </p>
        <p>
            Wir empfehlen, die eingegebene Seite über die <a href="/">Startseite</a> zu suchen.
        </p>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</html>
