<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<head>
    <title>FAQ -turnie.re</title>
    <link href="/css/faq.css" rel="stylesheet">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main role="main">

    <div class="big-image">
        <h1 class="display-1">FAQ</h1>
    </div>
    <main role="main">

        <div class="card my-2" style="width: 95%; margin:0 auto">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab"
                           aria-controls="general" aria-selected="true">Allgemein</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="tab"
                           aria-controls="account" aria-selected="false">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tournament-tab" data-toggle="tab" href="#tournament" role="tab"
                           aria-controls="tournament" aria-selected="false">Turnier</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                        <h2>Was macht turnie.re?</h2>
                        <p>
                            turnie.re ist eine Online-Turnierplaner.<br>
                            Allein aus den Team-Namen berechnen wir dir einen
                            kompletten Spielplan, den du auch gleich mit allen Leuten teilen kannst, ohne dir Gedanken
                            machen zu müssen, wer gegen wen spielen muss.
                            Du trägst ein, wer gewonnen hat, und turnie.re sagt, wer als nächstes spielt.
                        </p>
                        <hr>
                        <h2>Für welche Sportarten ist turnie.re geeignet?</h2>
                        <p>
                            turnie.re ist prinzipiell für jede Sportart geeignet. DIe einzige Vorraussetzung ist, dass
                            in jedem Spiel zwei Mannschaften oder Spieler gegeinander antreten und dass derjenige mit
                            den meisten Punkten gewinnt.
                        </p>
                        <hr>
                        <h2>Für welche Anzahl an Teams ist turnie.re geeignet?</h2>
                        <p>
                            turnie.re ist unabhängig von der Anzahl der Teams nutzbar.
                        </p>
                        <hr>
                        <h2>Fallen für die Nutzung von turnie.re Kosten an?</h2>
                        <p>
                            turnie.re ist ein kostenloser Service! Wir erheben keine Kosten und sind nur darauf aus,
                            dein Turnier-Management so einfach wie möglich zu gestalten.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
                        <h2>Warum brauche ich einen Account für turnie.re?</h2>
                        <p>
                            Wir wollen sicherstellen, dass nur berechtigte Nutzer Turnierdaten ändern können. Damit wir
                            dich als berechtigt verifizieren zu können, benötigst du einen Acoount, sodass wir dir die
                            entsprechenden Bearbeitungsrechte zuteilen können.
                        </p>
                        <hr>
                        <h2>Welche Daten muss ich bei der Accounterstellung angeben?</h2>
                        <p>
                            Um einen Account anzulegen musst du einen Nutzernamen, eine gültige E-Mailadresse sowie ein
                            Passwort angeben.
                        </p>
                        <hr>
                        <h2>Wie werden meine Daten verarbeitet?</h2>
                        <p>
                            Deine Daten werden in unserer Datenbank gespeichert. Eine Weitergabe dieser Daten an Dritte
                            erfolgt nicht!<br>
                            Zusätlich wird dein Passwort verschlüsselt gespeichert, das bedeutet auch wir kennen dein
                            Passwort nicht und dein Account wird zuverlässig geschützt.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="tournament" role="tabpanel" aria-labelledby="tournament-tab">
                        <h2>Wie erstelle ich ein Turnier?</h2>
                        <p>
                            Um ein Turnier zu erstellen musst du dich zuerst anmelden.<br>
                            Über "Turnier erstellen" gelangst du auf die "Turnier erstellen" Seite. Auf dieser
                            kannst du deinem Turnier einen Namen geben und eine (optionale) Beschreibung hinzufügen.
                            Dann kannst du dein Turnier <a href="#public-tournament">öffentlich oder privat</a> erstellen, die Teams für die
                            Spielpaarungen <a href="#mix-teams">mischen</a> lassen und eine Gruppenphase hinzufügen. Im Feld "Teams" kannst du
                            die teilnehmenden <a href="#add-teams">Teams eintragen</a> und hinzufügen. <br>
                            Wenn du die Option Gruppenphase aktiviert hast, kannst du zusätzlich noch die Größe der
                            Gruppen angeben.
                        </p>
                        <hr>
                        <h2 id="public-tournament">Was ist der Unterschied zwischen einem öffentlichen und einem privaten Turnier?</h2>
                        <p>
                            Standardmäßig ist ein Turnioer privat, das bedeutet, dass nur der Turnierersteller und
                            Zuschauer, die den entsprechenden Turniercode erhalten haben, das Turnier, seine
                            teilnehmenden Mannschaften,sowie die Spielpaarungenund die jeweiligen Spielstände sehen
                            können.
                        </p>
                        <P>
                            Wenn du dich entscheidest dein Turnier öffentlich zu erstellen, wird der Turniercode nicht
                            mehr benötigt, um das Turnier und all seine Informationen einzusehen. Das Turnier wird dann
                            in der Liste der öffentlichen Turniere angezeigt und kann auch über seinen Namen von jedem
                            gefunden werden. <br>
                            Trotzdem bleibt der Turnierersteller der einzige der die Turnierinformationen bearbeiten und
                            Spielstände eintragen kann.
                        </p>
                        <hr>
                        <h2 id="mix-teams">Was bedeutet "Teams mischen"?</h2>
                        <p>
                            Die Spielpaarungen werden anhand der Eingabereihenfolge der Teams erstellt. So spielt z.B.
                            das zuerst eingegebene Team gegen das als zweites eingegebene Team, das als drittes
                            eingegebene gegen das als viertes eingegebene, und so weiter. <br>
                            Wenn du das nicht möchtest kannst du die Option "Teams mischen" aktivieren und die
                            Spielpaarungen werden in einer zufälligen Reihenfolge erstellt.
                        </p>
                        <hr>
                        <h2 id="groupstage">Was passiert wenn ich die Gruppenphase aktiviere?</h2>
                        <p>
                            Grundsätzlich erstellt turnie.re dir einen Spielplan für ein Turnier ohne Gruppenphase und
                            nur einer K.O.-Phase. Wenn du eine Gruppenphase sielen lassen willst, kannst du das aber
                            auch tuen. Wenn die Gruppenphase aktiviert ist, werden deine eingegeben Teams automatisch in
                            Gruppen eingeteilt und auch die Spielpläne für die einzelnen Gruppen erechnet. <br>
                            Bitte beachte, dass die Anzahl der Teaems durch die Gruppengröße teilbar sein muss.
                        </p>
                        <hr>
                        <h2 id="add-teams">Wie kann ich Teams hinzufügen?</h2>
                        <p>
                            Auf der "Turnier erstellen" Seite kannst du im Feld "Teams" deine Teams eintragen. <br>
                            Du kannst die Teamnamen einzeln eingeben und dann über drücken der Entertaste oder über den
                            Button "Team hinzufügen" das Team deinem Turnier hinzufügen. Du kannst aber auch deine Teams
                            als eine mit Kommas getrennte Liste eingeben und dann hinzufügen.
                        </p>
                        <hr>
                        <h2>Wie trage ich einen Spielstand für eine Partie ein?</h2>
                        <p>
                            Auf der Turnierübersicht Seite gibt es für jede Partie einen "Spiel starten" Button. Über
                            diesen kannst du einfach den Spielstand eintragen und turnie.re erkennt den Gewinner der
                            Partie.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <div th:replace="fragments/footer :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</html>