<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<head>
    <title>turnie.re</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main role="main">

    <div class="big-image">
        <h1 class="display-1">Einfach Turniere organisieren</h1>
    </div>


    <div class="container marketing my-5">
        <div class="row">

            <div class="col-lg-4">
                <h2>Für jede Sportart</h2>
                <p>
                    Egal, um welche Sportart es geht: Solange du mit mehreren Mannschaften ein Turnier veranstalten willst, kann
                    turnie.re dir ein Turnier berechnen!
                </p>
            </div>
            <div class="col-lg-4">
                <h2>Beliebige Anzahl Teams</h2>
                <p>
                    Egal, wie viele Teams du gerne in deinem Turnier hast, wir regeln das. Füge einfach deine Teams hinzu
                    und schon sagen wir dir, wer gegen wen spielt.
                </p>
            </div>
            <div class="col-lg-4">
                <h2>Kostenlos</h2>
                <p>
                    turnie.re ist ein kostenloser Service! Wir erheben keine Kosten und sind nur darauf aus, dein
                    Turnier-Management so einfach wie möglich zu gestalten.
                </p>
            </div>

        </div>
    </div>

    <div class="index-cards py-5">
        <div class="container card shadow-lg mt-3">
            <div class="card-body row">
                <form id="turniercode-form" class="col-lg-4" action="/t" method="get">
                    <input class="form-control" type="search" name="code" placeholder="Turnier-Code">
                    <button class="btn btn-outline-success w-100 my-2" type="submit">Turnier-Code öffnen</button>
                </form>
                <div class="col-lg-8">
                    <p>Gib hier einen Turnier Code ein, um direkt zum entsprechenden Turnier zu gelangen.</p>
                </div>
            </div>
        </div>
        <div class="container card shadow-lg my-4">
            <div class="card-body row">
                <div class="col-lg-4 pb-3">
                    <a class="btn btn-outline-success w-100" role="button" href="/liste">Alle Turniere anzeigen</a>
                </div>
                <div class="col-lg-8">
                    <p>
                        Hier findest du alle öffentlichen Turniere. Wenn du ein Turnier suchst, den Turniercode aber nicht hast, wirst
                        du wahrscheinlich hier fündig.
                    </p>
                    <p>
                        Wenn du eingeloggt bist, findest du hier auch deine eigenen Turniere.
                    </p>
                </div>
            </div>
        </div>
        <div class="container card shadow-lg mb-3">
            <div class="card-body row">
                <div class="col-lg-8">
                    <p>
                        <strong>Einfach ausprobieren:</strong> Einen Turnier-Namen, ein paar Team-Namen, und schon kriegst du ein
                        komplettes Turnier!
                    </p>
                </div>
                <div class="col-lg-4">
                    <a class="btn btn-success btn-lg w-100" role="button" href="/erstellen">Turnier erstellen</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container marketing my-5">
        <div class="row">

            <div class="col-lg-6">
                <h2>Was macht turnie.re?</h2>
                <p>
                    turnie.re berechnet dir ein Turnier. Allein aus den Team-Namen berechnen wir dir einen kompletten Spielplan,
                    den du auch gleich mit allen Leuten teilen kannst, ohne dir Gedanken machen zu müssen, wer gegen wen spielen
                    muss.<br>
                    Du trägst ein, wer gewonnen hat, und turnie.re sagt, wer als nächstes spielt.
                </p>
            </div>
            <div class="col-lg-6">
                <h2>Ich habe einen Turniercode bekommen. Was nun?</h2>
                <p>
                    Der Turniercode führt dich direkt zu einem Turnier. Gebe dafür den Code <a class="text-success" href="#turniercode-form">oben</a>
                    ein, dann wirst du sofort weitergeleitet.
                </p>
            </div>

        </div>
        <div class="my-5 text-center">
            <p>
                Noch fragen? Schau doch mal im <a class="text-success" href="/faq">FAQ</a> vorbei!
            </p>
        </div>
    </div>

</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</html>
