<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login - turnie.re</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" href="/">turnie.re</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Turnier erstellen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Turnier ansehen</a>
                </li>
            </ul>
            <div sec:authorize="isAnonymous()" class="nav-item btn-group">
                <a class="btn navbar-btn btn-outline-success my-2 my-sm-0 px-5" role="button" th:href="@{/login}">Login</a>
                <a class="btn navbar-btn btn-outline-success my-2 my-sm-0 px-5" role="button"
                   th:href="@{/register}">Registrieren</a>
            </div>
            <form sec:authorize="isAuthenticated()" action="#" th:action="@{/logout}" method="post"
                  class="form-inline my-2 my-lg-0 btn-group">
                <a class="btn navbar-btn btn-outline-success my-2 my-sm-0 px-5 border-fix" role="button" href="/"><span
                        sec:authentication="name"></span></a>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</header>

<main role="main">

    <div class="big-image">
        <h1 class="display-1">Bitte melde Dich sich zuerst an</h1>
    </div>

    <div class="container marketing">
        <h2>Warum brauchst du einen Account für turnie.re?</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
            ut id
            elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>

    <div class="container">
        <div th:if="${param.logout}" class="alert alert-dismissible alert-success fade show">
            Du wurdest ausgeloggt.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card my-2" id="login">
                    <div class="card-body">
                        <h2>Login</h2>
                        <div th:if="${param.error}" class="alert alert-dismissible alert-danger fade show">
                            E-Mail oder Passwort falsch!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label for="username">E-Mail-Adresse</label>
                                <input type="email" name="username"
                                       class="form-control"
                                       placeholder="user@example.com"
                                       id="username"
                                required>
                            </div>
                            <div class="form-group">
                                <label for="password">Passwort</label>
                                <input type="password" name="password"
                                       class="form-control"
                                       placeholder="****"
                                       id="password" required>
                            </div>
                            <button type="submit" class="btn btn-outline-success w-100 mt-2 btn-lg">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card my-2" id="register">
                    <div class="card-body">
                        <h2>Registrieren</h2>
                        <form action="#" th:action="@{/register}" th:object="${registerForm}" method="POST">
                            <div class="form-group">
                                <label for="reg-user">Nutzername</label>
                                <input class="form-control" type="text" id="reg-user" th:field="*{username}" required>
                                <small class="text-muted">
                                    Wenn du anderen dein Turnier zeigst, können sie deinen Benutzernamen sehen.
                                </small>
                                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                     class="text-danger font-italic">Nutzername fehlerhaft
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="reg-mail">E-Mail</label>
                                <input class="form-control" type="email" id="reg-mail" th:field="*{email}" required>
                                <small class="text-muted">
                                    Deine E-Mail-Adresse kann nur von dir gesehen werden.
                                </small>
                                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger font-italic">
                                    E-Mail Adresse fehlerhaft
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="reg-pw">Passphrase</label>
                                <input class="form-control" type="password" id="reg-pw" th:field="*{password}" minlength="12" required>
                                <small class="text-muted">
                                    Deine Passphrase muss mindestens 12 Zeichen lang sein. Alle Zeichen sind erlaubt.
                                </small>
                                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                     class="text-danger font-italic">Passphrase fehlerhaft
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="reg-pw2">Passphrase wiederholen</label>
                                <input class="form-control" type="password" id="reg-pw2" th:field="*{repassword}" minlength="12" required>
                                <div th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}"
                                     class="text-danger font-italic">Passphrasen stimmen nicht
                                    überein
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-success w-100 mt-2 btn-lg">Registrieren</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="footer mt-5 bg-dark text-light">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-6 text-center">&copy; 2018 Team REST &middot; <a class="text-white" href="#">Wir schützen arme
                kleine Daten</a>
                &middot; <a
                        class="text-white" href="#">Impressum</a></div>
            <div class="col-md-6 text-center"><a href="#" class="text-white">zurück nach oben</a></div>
        </div>
    </div>
</footer>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</html>
