<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Turnie.re</title>
</head>
<body>
<h1 th:text="${tournament.name}"></h1>
<span th:text="${tournament.description}"></span>
<ul>
    <li th:each="stage: ${tournament.stages}">
        <span th:text="${stage.level}"/>
        <ul th:each="match: ${stage.matches}">
            <li><a th:href="@{'/m/' + ${match.id}}"><span th:text="${match}"/></a></li>
        </ul>
    </li>
</ul>
</body>
</html>
