<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<head>
    <title th:text="${'Vollbild: '+tname+' - turnie.re'}">Vollbildmodus - turnie.re</title>
    <link href="/css/tournament.css" rel="stylesheet">
    <link href="/css/tournament-fullscreen.css" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<div class="popup-titlebar px-5 border-bottom">
    <div class="tournament-title custom-font h2 mb-0 py-2">
        <span th:text="${tname}">Mein Turnier</span>
        <div class="border-left d-inline-block pl-3 ml-1" th:if="${tstage != null}">
            <span th:text="${#messages.msgOrNull('tournament.stage.' + tstage.level) ?: tstage.level}"></span>
        </div>
        <div class="border-left d-inline-block pl-3 ml-1" th:if="${tgroupStage != null}">
            Gruppenphase
        </div>
        <div class="border-left d-inline-block pl-3 ml-1" th:if="${twinner != null}">
            beendet
        </div>
    </div>
    <div class="table-success float-right h2 m-0 py-2 px-3 h-100">
        gewonnen
    </div>
    <div class="table-warning float-right h2 m-0 py-2 px-3 h-100">
        gestartet
    </div>
    <div class="float-right border-left h2 m-0 py-2 px-3 h-100">
        nicht gestartet
    </div>
</div>
<main role="main" class="pb-3">

    <div class="alert alert-success shadow m-5" th:if="${twinner != null}">
        <h1><strong><span th:text="${twinner.name}"></span></strong> hat gewonnen!</h1>
    </div>

    <div th:if="bpwstr">
        <div th:if="${tstage != null}">
            <div th:if="${tstage.getMatches().size() < 17}">
                <img src="../../images/beerpongBanner.jpg">
            </div>
        </div>
    </div>

    <div class="px-5 py-4" th:if="${tstage != null}">
        <div class="row">
            <div class="col-xs w-16 p-2" th:each="match: ${tstage.matches}">
                <div th:replace="fragments/match::match (${match})"></div>
            </div>
        </div>
    </div>

    <div class="px-5 py-4" th:if="${tgroupStage != null}">
        <div class="row">
            <div class="col-xs w-16 p-2" th:each="match: ${tgroupStageMatches}">
                <div th:replace="fragments/match::match (${match})"></div>
            </div>
        </div>
    </div>


</main>
<footer class="mx-2 mb-1 text-secondary">© 2018 turnie.re</footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="/js/tournament.js"></script>
</html>
