<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<head>
    <title>Fullscreen Turnier Ansicht - turnie.re</title>
    <link href="/css/tournament.css" rel="stylesheet">
    <link href="/css/tournament-fullscreen.css" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<div class="popup-titlebar py-2 px-5 border-bottom">
    <div class="tournament-title custom-font h2 mb-0" th:text="${tname}">
        Mein Turnier
    </div>
    <a href="./" class="close btn btn-light px-2 py-1">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<main role="main">

    <div class="container">
        <div class="container alert alert-success shadow mt-4" th:if="${twinner != null}">
            <h1><strong><span th:text="${twinner.name}"></span></strong> hat gewonnen!</h1>
        </div>
    </div>

    <div class="p-5 pb-4" th:if="${tstage != null}">
        <h4 class="mb-0">
            <span th:text="${#messages.msgOrNull('tstage.' + tstage.level) ?: tstage.level}"></span>
        </h4>

        <div class="row">
            <div class="col-lg minw-25" th:each="match: ${tstage.matches}">
                <div th:if="${match.team1 == match.team2}" th:id="'match-' + ${match.position}">

                    <div class="card mt-4 shadow-sm" th:if="${match.state.name() == 'NOT_STARTED'}">
                        <div class="card-body">
                            <div class="alert alert-light h1">
                                steht noch nicht fest
                            </div>
                            <div class="alert alert-light h1 mb-0">
                                steht noch nicht fest
                            </div>
                        </div>
                    </div>

                    <div class="card mt-4 border-success shadow-sm"
                         th:if="${match.state.name() == 'TEAM1_WON'}">
                        <div class="card-body">
                            <div class="alert alert-success h1">
                                <strong><span th:text="${match.team1.name}"></span></strong>
                            </div>
                            <div class="alert alert-light h1 mb-0">
                                kein Gegner
                            </div>
                        </div>
                    </div>

                </div>
                <div th:if="${match.team1 != match.team2}" th:id="'match-' + ${match.position}">

                    <div class="card mt-4 border-warning shadow-sm"
                         th:if="${match.state.name() == 'IN_PROGRESS'}"
                         data-th-attr="aria-controls=${match.id}">
                        <span th:text="${match.id}" style="display: none"></span>
                        <div class="card-body">
                            <div class="alert alert-warning h1">
                                <span th:text="${match.team1.name}"></span>
                                <span class="badge badge-light float-right" th:if="${match.scoreTeam1 != null}"
                                      th:text="${match.scoreTeam1}"></span>
                            </div>
                            <div class="alert alert-warning h1 mb-0">
                                <span th:text="${match.team2.name}"></span>
                                <span class="badge badge-light float-right" th:if="${match.scoreTeam2 != null}"
                                      th:text="${match.scoreTeam2}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-4 shadow-sm" th:if="${match.state.name() == 'NOT_STARTED'}" data-th-attr="aria-controls=${match.id}">
                        <div class="card-body">
                            <div class="alert h1"
                                 th:text="${match.team1.name != null} ? ${match.team1.name} : 'steht noch nicht fest'"
                                 th:classappend="${match.team1.name != null} ? 'alert-secondary' : 'alert-light'">
                            </div>
                            <div class="alert h1 mb-0"
                                 th:text="${match.team2.name != null} ? ${match.team2.name} : 'steht noch nicht fest'"
                                 th:classappend="${match.team2.name != null} ? 'alert-secondary' : 'alert-light'">
                            </div>
                        </div>
                    </div>

                    <div class="card mt-4 border-success shadow-sm"
                         th:if="${match.state.name() == 'TEAM1_WON'}">
                        <div class="card-body">
                            <div class="alert alert-success h1 overflow-auto">
                                <span th:text="${match.team1.name}"></span>
                                <div class="float-right inline-flex">
                                    <span class="badge badge-success ml-3">Gewinner</span>
                                    <span class="badge badge-light ml-2" th:text="${match.scoreTeam1}"></span>
                                </div>
                            </div>
                            <div class="alert alert-secondary h1 text-right mb-0">
                                <span class="float-left" th:text="${match.team2.name}"></span>
                                <span class="badge badge-light ml-3" th:text="${match.scoreTeam2}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-4 border-success shadow-sm"
                         th:if="${match.state.name() == 'TEAM2_WON'}">
                        <div class="card-body">
                            <div class="alert alert-secondary h1">
                                <span th:text="${match.team1.name}"></span>
                                <div class="badge badge-light ml-3 float-right"
                                     th:text="${match.scoreTeam1}"></div>
                            </div>
                            <div class="alert alert-success h1 overflow-auto mb-0">
                                <span th:text="${match.team2.name}"></span>
                                <div class="float-right inline-flex">
                                    <span class="badge badge-success ml-3">Gewinner</span>
                                    <span class="badge badge-light ml-2" th:text="${match.scoreTeam2}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="mt-5" th:if="${tgroupStage != null}">
        GroupStage
    </div>


</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="/js/tournament.js"></script>
</html>
