<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<head>
    <title>Turnier-Liste - turnie.re</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<main role="main">

    <div class="big-image">
        <h1 class="display-1">Finde dein Turnier</h1>
    </div>

    <div class="container">
        <div sec:authorize="isAuthenticated()" th:if="${privateTournaments}" class="card mb-3">
            <div class="card-body">
                <h2>Meine Turniere</h2>
                <div th:each="tournament: ${privateTournaments}">
                    <a class="btn btn-outline-dark w-100 text-left font-weight-bold mt-2"
                       th:href="@{'/t/' + ${tournament.code}}"
                       th:text="${tournament.name}"></a>
                </div>
            </div>
        </div>
        <div th:if="${publicTournaments}" class="card">
            <div class="card-body">
                <h2>Öffentliche Turniere</h2>
                <div th:each="tournament: ${publicTournaments}">
                    <a class="btn btn-outline-secondary w-100 text-left font-weight-bold mt-2"
                       th:href="@{'/t/' + ${tournament.code}}"
                       th:text="${tournament.name}"></a>
                </div>
            </div>
        </div>
    </div>

</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</html>